# Logs
logs
*.log
npm-debug.log*

# Dependency directoryssh-add ~/.ssh/id_ed25519 #
node_modules

# Optional npm cache directory
.npm

# System files and IDE settings folders
.DS_Store
.idea
.vscode
.env